body{
    background-color: #151515;
}
h1{
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    letter-spacing: 1px;
    background: #e62429;
    color: #FFFFFF;
    width: 90%;
    margin-left: 65px;
    padding: 15px;
    transition: all .4s;
}
h1:hover{
    color: #e62429;
    background: #FFFFFF;
}
.main{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 40px;
    justify-content: center;
    margin: 10px 10px;

}
.container{
    display: flex;
    width: 250px;
    height: 320px;
    position: relative;
}
.card{
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Roboto;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-transform: uppercase;
    transform-style: preserve-3d;
    transition: all .8s ease;
}
.card:hover{
    transform: rotateY(180deg);
}
.card .card__front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #e62429;
    border-bottom-right-radius: 20px;
}
.card .card__front h2{

    text-align: center;
    padding-top: 100px;
}
.card .card__back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #151515;
    transform: rotateY(180deg);
    border-bottom-right-radius: 20px;

}
.card .card__back h2{
    text-align: center;
    padding-top: 10px;
}
.card .card__back .card__image{
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom-right-radius: 20px;

}
